<div class="row justify-content-center rounded">
  <div class="col-5 bg-white border py-4 px-5">
    <h3 class="justify-content-center text-center">Reactive Form</h3>
    <form [formGroup]="userdetailsForm" (ngSubmit)="onSubmit(userdetailsForm)">
      <div class="form-group my-2">
        <label for="exampleInputEmail1">First Name</label>
        <input
          type="text"
          class="form-control"
          id="firstname"
          placeholder="First Name"
          formControlName="firstname"
        />
      </div>
      <span
        *ngIf="userdetailsForm.controls['firstname'].touched && userdetailsForm.controls['firstname'].errors?.['required']"
        class="text-danger"
      >
        Please enter your first name!!
      </span>
      <div class="form-group my-2">
        <label for="exampleInputEmail1">Last Name</label>
        <input
          type="text"
          class="form-control"
          id="firstname"
          placeholder="Last Name"
          name="lastname"
          formControlName="lastname"
        />
      </div>
      <span
        *ngIf="userdetailsForm.controls['lastname'].touched && userdetailsForm.controls['lastname'].errors?.['required']"
        class="text-danger"
      >
        Please enter your Last name!!
      </span>
      <div class="form-group my-2">
        <fieldset class="form-group">
          <div class="row">
            <legend class="col-form-label col-sm-2 pt-0">Gender</legend>
            <div class="col-sm-10">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="gender"
                  id="gridRadios1"
                  value="Male"
                  formControlName="gender"
                />
                <label class="form-check-label" for="gridRadios1"> Male </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="gender"
                  id="gridRadios2"
                  value="Female"
                  formControlName="gender"
                />
                <label class="form-check-label" for="gridRadios2">
                  Female
                </label>
              </div>
            </div>
          </div>
          <span
            *ngIf="userdetailsForm.controls['gender'].touched && userdetailsForm.controls['gender'].errors?.['required']"
            class="text-danger"
          >
            Please enter your Gender!!
          </span>
        </fieldset>
      </div>
      <div class="form-group my-2">
        <label for="exampleInputEmail1">Mobile No.</label>
        <input
          type="text"
          class="form-control"
          id="lastname"
          placeholder="Mobile Number"
          name="mobile"
          formControlName="mobile"
          required
          pattern="^[0-9]+$"
          formControlName="mobile"
          (keydown)="preventAlphabet($event)"
          maxlength="10"
          minlength="10"
        />
      </div>
      <span
        *ngIf="userdetailsForm.controls['mobile'].touched && userdetailsForm.controls['mobile'].errors?.['required']"
        class="text-danger"
      >
        Please enter your Mobile Number!!
      </span>
      <div class="form-group my-2">
        <label for="exampleInputEmail1">Email</label>
        <input
          type="email"
          class="form-control"
          id="firstname"
          placeholder="Email"
          name="email"
          formControlName="email"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
        />
      </div>
      <span
        *ngIf="userdetailsForm.controls['email'].touched && userdetailsForm.controls['email'].errors?.['required']"
        class="text-danger"
      >
        Please enter your Email Address!!
      </span>
      <span
        *ngIf="userdetailsForm.controls['email'].invalid && userdetailsForm.controls['email'].dirty && userdetailsForm.controls['email'].errors?.['pattern']"
        class="text-danger"
        >Email Address is invalid!!</span
      >

      <div class="form-group my-2">
        <label for="exampleInputEmail1">BirthDate</label>
        <input
          type="date"
          class="form-control"
          name="date"
          placeholder="Select Date"
          formControlName="date"
        />
        <span
          *ngIf="userdetailsForm.controls['date'].touched && userdetailsForm.controls['date'].errors?.['required']"
          class="text-danger"
          >Please Enter Your BirthDate</span
        >
      </div>
      <div class="row my-2" formGroupName="address">
        <div class="row">
          <div class="form-group col-md-4">
            <label for="inputState">Country</label>
            <select
              id="inputState"
              class="form-control"
              name="country"
              formControlName="country"
              (change)="selectCountry($event, 0)"
            >
              <option value="choose country" disabled>Choose Country</option>
              <option
                selected
                *ngFor="let country of countries"
                [value]="country.id"
              >
                {{ country.name }}
              </option>
            </select>
            <span
              *ngIf="country && country.touched && country.pristine"
              class="text-danger"
              >Please Select Country</span
            >
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">State</label>
            <select
              id="inputState"
              class="form-control"
              name="state"
              formControlName="state"
              (change)="selectState($event, 0)"
            >
              <option value="choose state" disabled>Choose State</option>
              <option
                selected
                [value]="state.id"
                *ngFor="let state of stateData"
                [value]="state.id"
              >
                {{ state.name }}
              </option>
            </select>
            <span
              *ngIf="country && state && state.touched && state.pristine"
              class="text-danger"
              >Please Select State</span
            >
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">City</label>
            <select
              id="inputState"
              class="form-control"
              name="city"
              formControlName="city"
            >
              <option value="choose city" disabled>Choose City</option>
              <option selected [value]="city.id" *ngFor="let city of cityData">
                {{ city.name }}
              </option>
            </select>
            <span
              *ngIf="country && state && city && city.touched && city.pristine"
              class="text-danger"
              >Please Select City</span
            >
          </div>
        </div>
      </div>
      <div class="form-group my-3">
        <input
          type="checkbox"
          id="checkboxAgree"
          formControlName="checkbox"
          style="color: black; width: 15px"
        />
        <label for="checkboxAgree">
          I agree to <a href="">Terms & Condition</a> and
          <a href="">Privacy Policy</a>
        </label>
      </div>
      <span
        *ngIf="
          userdetailsForm.controls['checkbox'].dirty &&
          userdetailsForm.controls['checkbox'].invalid
        "
        class="text-danger"
        >Please Fill The Term & Condition Checkbox</span
      >
      <div class="row">
        <div class="col-2">
          <button
            type="submit"
            class="btn btn-primary my-2"
            [disabled]="!userdetailsForm.valid"
          >
            {{ isUpdate ? "Update" : "Submit" }}
          </button>
        </div>
         
      </div>
    </form>
  </div>
  <div class="col-7">
    <table class="table">
      <thead class="table table-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">FirstName</th>
          <th scope="col">LastName</th>
          <th scope="col">Gender</th>
          <th scope="col">Mobile No.</th>
          <th scope="col">email</th>
          <th scope="col">BirthDate</th>
          <th scope="col" class="text-center" colspan="3">Address</th>
          <th scope="col" class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of userData; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ data.firstname }}</td>
          <td>{{ data.lastname }}</td>
          <td>{{ data.gender }}</td>
          <td>{{ data.mobile }}</td>
          <td>{{ data.email }}</td>
          <td>{{ data.date }}</td>
          <td>{{ data.address.city.name }}</td>
          <td>{{ data.address.state.name }}</td>
          <td>{{ data.address.country.name }}</td>
          <td>
            <button
              type="button"
              class="btn btn-success py-1"
              (click)="edit(data)"
            >
              Edit
            </button>
            <button
              type="button"
              class="btn btn-danger py-1"
              (click)="delete(i)"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div
      *ngIf="userData.length === 0"
      class="justify-content-center text-center"
    >
      <h1>No Data Found</h1>
    </div>
  </div>
</div>
